@charset "utf-8";

html {
  font-size: 16px;
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


body {
  margin: 2rem;
}


h1 {
  font-size: 2rem;
}


section.it > div.title::before {
  display: inline-block;
  width: 2rem;
  text-align: center;
}

section.it > div.title > a {
  text-decoration: none;
}
section.it > div.title > a::after {
  margin-left:0.5rem;
  color: white;
  background-color: #89c;
  font-size: 0.8rem;
  padding: 0.1rem;
  border-radius: 0.3rem;
}
section.it > div.title > a.to-show::after {
  content: '⬇︎';
}
section.it > div.title > a.to-hide::after {
  content: '⬆︎';
}

section.it.pass > div.title {
  color: #555;
}
section.it.pass > div.title::before {
  content: '✓ ';
  color: #6c6;
}

section.it.fail > div.title {
  color: #f66;
}
section.it.fail > div.title::before {
  content: '× ';
  color: #f66;
}

section.it.skip > div.title {
  color: #8cc;
}
section.it.skip > div.title::before {
  content: '- ';
  color: #8cc;
}

div.comparison {
  margin-top: 0.3rem;
  margin-left: 2rem;
  padding: 0.6rem;
  font-family: monospace;
  font-size: 0.9rem;
  color: #777;
  border: solid 1px #ccc;
}
div.comparison > div.legends {
  color: #ccc;
}
div.comparison > div.legends > span.expected::before {
  content: '+';
}
div.comparison > div.legends > span.computed::before {
  content: '-';
}
div.comparison > div.code.expected::before {
  content: '+ ';
  color: #ccc;
}
div.comparison > div.code.computed::before {
  content: '- ';
  color: #ccc;
}

div.hide {
  display: none;
}
